@mixin anchors {
	a, a:link, a:visited {
		@content;
	}
}

@mixin button($col) {
	background: $col;
	color: #000;
	font-weight: bold;
	margin: 0 10px;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 10px;
	&:hover {
		background: darken($col, 5%);
	}
}